body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./tcbg.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    text-align: center; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
}

.container h1 {
    margin: 0; 
    margin-bottom: 10px; 
}

.container p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px; 
}

.temperatureinput,
.temperatureoutput {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.temperatureinput select,
.temperatureoutput select,
.temperatureinput input,
.temperatureoutput input {
    padding: 8px;
    font-size: 16px;
}

.temperatureinput select,
.temperatureoutput select {
    margin-left: 10px;
}

input[type="text"][readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}
